.root {
    background-color: #f8f8f8;
}
.nav {
    display: flex;
    justify-content: space-between;
    min-height: 41px;
    align-items: center;
    &List {
        @media (min-width: 769px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -10px;
        }
    }
    &Wrapper {
        flex: 0 1 700px;
        @media (max-width: 768px) {
            transform: translate(320px, 0);
            transition: all 0.5s ease 0s;
            position: fixed;
            width: 320px;
            height: 100%;
            top: 0;
            right: 0;
            overflow: auto;
            padding: 89px 23px;
            background-color: white;
            z-index: 2;
        }
    }
    &Block {
        display: flex;
        flex: 0 1 280px;
        justify-content: space-between;
    }
    &Login {
        display: flex;
        align-items: center;
        padding-left: 10px;
        span {
            margin: 0 10px;
            color: #664ef9;
        }
        a {
            color: #664ef9;
        }
        @media (max-width: 768px) {
            padding-left: 0;
        }
    }
    &Link {
        display: inline-block;
        padding: 12px 10px 9px 10px;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #1e2123;
                border-bottom: 3px solid #ffd54f;
            }
        }
    }
    &Icon {
        display: none;
        @media (max-width: 768px) {
            display: block;
            position: relative;
            width: 20px;
            height: 16px;
            cursor: pointer;
            z-index: 3;
            order: 1;
            span {
                transition: all 0.3s ease 0s;
                top: calc(50% - 1px);
                left: 0px;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--textColor);
                &:first-child {
                    top: 0px;
                }
                &:last-child {
                    top: auto;
                    bottom: 0px;
                }
            }
        }
    }
}
.icon26 {
    display: flex;
    align-items: center;
    padding-right: 27px;
    padding-left: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    svg {
        transition: all 0.3s ease 0s;
        position: absolute;
        right: 0;
        width: 16px;
        path {
            fill: #8291a3;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            color: #1e2123;
            svg path {
                fill: #eb5757;
            }
        }
    }
    @media (max-width: 768px) {
        order: 1;
    }
}
.block {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    @media (max-width: 768px) {
        .blockNav {
            display: none;
        }
    }
    &Nav {
        @media (min-width: 769px) {
            display: flex;
            align-items: center;
        }
        @media (max-width: 768px) {
            padding: 0 !important;
        }
        &List {
            @media (min-width: 769px) {
                display: flex;
                flex: 1 1 auto;
                justify-content: space-around;
            }
            @media (max-width: 1024px) {
                justify-content: space-between !important;
                margin-left: -10px;
            }
            @media (max-width: 768px) {
                margin-left: 0;
            }
        }
        &Link {
            display: inline-block;
            color: #1e2123 !important;
            padding: 18px 10px;
            border-bottom: 3px solid transparent;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    border-bottom: 3px solid #ffd54f;
                }
            }
            @media (max-width: 768px) {
                padding: 12px 10px 9px 10px;
                color: var(--textColor) !important;
            }
        }
        &Item {
            &:first-child {
                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-right: 25px;
                    &:before {
                        color: #ffd54f;
                        position: absolute;
                        right: 0;
                        @media (max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.btn {
    background-image: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    @media (max-width: 1024px) {
        margin-left: 20px;
    }
    @media (max-width: 768px) {
        margin-left: 9px;
        margin-top: 20px;
    }
}
.navIconActive {
    span {
        transform: scale(0);
        &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
        }
        &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
        }
    }
}
.navListActive {
    @media (max-width: 768px) {
        transform: translate(0px, 0%);
    }
}
.logo {
    @media (max-width: 1024px) {
        display: none;
    }
}
.icon1,
.icon2 {
    display: flex;
    align-items: center;
    &:before {
        color: #1e2123;
        margin-right: 5px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}
.avatar {
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    img {
        width: 100%;
        height: 30px;
        object-fit: cover;
    }
}
.name {
    color: #1e2123 !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
    &:before {
        font-size: 8px;
        color: #4e64f9;
        position: absolute;
        right: 0;
    }
}
.subTitle {
    margin-bottom: 15px;
}
.login {
    &Modal {
        background-color: #fffefe;
        box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
        border-radius: 10px;
        padding: 50px;
        text-align: center;
        @media (max-width: 768px) {
            padding: 30px;
        }
    }
    &Block {
        max-width: 306px;
        margin: 0 auto;
    }
    &Text {
        margin-bottom: 35px;
    }
    &Flex {
        margin-top: 20px;
        display: flex;
        gap: 10p;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
    }
    &Link {
        color: #664ef9;
    }
    &Btn {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        background: #ffd54f;
        border-radius: 33px;
        padding: 12px 56px;
        color: #1e2123;
        width: 100%;
        transition: all 0.3s ease 0s;
        margin-bottom: 50px;
        @media (any-hover: hover) {
            &:hover {
                background-color: #fec100;
            }
        }
        &:disabled {
            background: lighten($color: #ffd54f, $amount: 10);
            cursor: default;
        }
    }
}
.reg {
    &Modal {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        max-width: 844px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &Title {
        margin-bottom: 30px;
    }
    &Form {
        flex: 1 1 306px;
        @media (max-width: 768px) {
            flex: auto;
        }
    }
    &Btn {
        margin-top: 20px;
        margin-bottom: 0;
    }
    &Block {
        flex: 1 1 388px;
        text-align: left;
        @media (max-width: 768px) {
            flex: auto;
        }
    }
    &Text {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: var(--textColor);
    }
    &ListItm {
        list-style: inside;
    }
}
.error {
    background: #eb5757;
    border-radius: 33px;
    padding: 12px 20px 12px 20px;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    span {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: -32px;
    }
    span:before {
        position: absolute;
        right: -30px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 8px;
    &Block {
        display: flex;
        align-items: center;
    }
    & input {
        display: none;
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdbdbd;
    transition: 0.4s;
    &:before {
        position: absolute;
        content: '';
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}
input:checked + .slider {
    background-color: #664ef9;
}
input:focus + .slider {
    box-shadow: 0 0 1px #664ef9;
}
input:checked + .slider:before {
    transform: translateX(12px);
}
#tooltip {
    right: 0;
    width: 180px;
    top: 35px;
    left: auto;
    transform: initial;
    &Logout {
        color: var(--textColor);
        transition: all 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: #1e2123;
            }
        }
    }
}
#tooltip2 {
    transform: none;
    top: 50px;
    left: 0;
    width: 242px;
    padding: 0;
    a {
        padding: 10px 15px;
        color: #1e2123;
        transition: all 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #f8f8f8;
            }
        }
    }
}
.active {
    background-color: #f8f8f8;
}
.linkActive {
    color: #1e2123 !important;
    border-bottom: 3px solid #ffd54f;
}
