.social {
    display: flex;
    align-items: center;
    span {
        margin-right: 15px;
    }
    :global {
        .icon-5 {
            font-size: 10px;
        }
        .icon-9 {
            font-size: 14px;
        }
    }
    &Links {
        display: flex;
    }
    &Item {
        &:not(:last-child) {
            margin-right: 17px;
            @media (max-width: 768px) {
                margin-right: 10px;
            }
        }
    }
    &Link {
        width: 34px;
        height: 34px;
        background: rgba(102, 78, 249, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            color: #664ef9;
        }
    }
}
