.input {
    padding: 15px 20px 15px 55px;
    width: 100%;
    cursor: default;
    background: #f8f8f8;
    &Icon {
        margin-top: 15px;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        border: 2px solid #f8f8f8;
        transition: all 0.3s ease 0s;
        width: 100%;
        &:before {
            transition: all 0.3s ease 0s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            font-size: 20px;
            color: #b6b6b6;
        }
        @media (any-hover: hover) {
            &:hover {
                border: 2px solid rgba(102, 78, 249, 0.8);
                &:before {
                    color: #664ef9;
                }
                input,
                textarea {
                    background: #ffffff;
                }
            }
        }
    }
}
