.checkbox {
    display: flex;
    align-items: center;
    & > input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    & > span {
        display: inline-flex;
        align-items: center;
    }
    & > span::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        margin-right: 10px;
        background: #f8f8f8;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    & > input:checked + span::before {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        content: '✓';
        background: #664ef9;
        border: 1px solid #664ef9;
    }
}
