.tooltip {
    position: relative;
    &text {
        transition: all 0.3s ease 0s;
        top: 0;
        transform: translateX(-50%) translateY(-100%);
        top: -25px;
        left: 50%;
        visibility: hidden;
        opacity: 0;
        color: var(--textColor);
        padding: 20px 30px 25px 30px;
        position: absolute;
        z-index: 1;
        width: 280px;
        background: #ffffff;
        box-shadow: 0px 0px 20px rgba(0, 34, 34, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }
}
.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}
.tooltipActive {
    opacity: 1;
    visibility: visible;
}
