.card {
    filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        height: 225px;
        object-fit: cover;
        border-radius: 10px;
        position: relative;
        z-index: 1;
    }
    &Content {
        display: flex;
        position: relative;
        z-index: 0;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 40px 20px 20px 20px;
        background: #fffefe;
        margin-top: -10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    &Title {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #1e2123;
        margin-bottom: 15px;
        flex: 1 1 auto;
    }
    &Text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #686868;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
    &Flex {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #f8f8f8;
        padding-top: 25px;
        margin-top: 20px;
    }
    &Date {
        padding: 10px 8px;
        background: #f8f8f8;
        border-radius: 18px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #8291a3;
    }
    &Btn {
        padding: 10px 15px;
        background: rgba(102, 78, 249, 0.1);
        border-radius: 17px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #664ef9;
    }
}
