.item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    &Info {
        display: flex;
    }
    &Title {
        font-size: 20px;
        line-height: 100%;
        font-weight: 700;
        color: #1e2123;
    }
    &Block {
        :global {
            .slick-slider {
                position: relative;
                &:before {
                    content: 'Gold';
                    display: block;
                    position: absolute;
                    right: 0;
                    text-shadow: 0px 1px 0px rgba(147, 79, 0, 0.3);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #ffffff;
                    padding: 9px 12px;
                    border-radius: 0px 9px 9px 9px;
                    background: linear-gradient(
                        106.06deg,
                        #ffd54f 1.12%,
                        #fec100 97.96%
                    );
                    z-index: 1;
                }
            }
        }
    }
    &Wrapper {
        overflow: auto;
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 11px;
        margin-top: 11px;
    }
    &Img {
        width: 100%;
        background: #e0e0e0;
        border-radius: 12px;
        overflow: hidden;
        img {
            width: 100%;
            height: 226px;
            object-fit: cover;
        }
    }
    &Content {
        padding: 30px 20px 13px 20px;
        background: #fffefe;
        border-radius: 0 0 10px 10px;
        margin-top: -10px;
    }
    &Flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 24px;
        @media (max-width: 1270px) {
            gap: 15px;
            flex-direction: column;
        }
    }
    &Price {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #664ef9;
    }
    &Span {
        padding: 0 8px;
        height: 34px;
        background: #f8f8f8;
        border-radius: 18px;
        color: #686868;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 7px;
        }
        &:before {
            margin-right: 7px;
        }
    }
    &Text {
        font-size: 12px;
        line-height: 15px;
        color: #8291a3;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
    &Buttons {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(102, 78, 249, 0.1);
        padding-top: 12px;
        margin-top: 13px;
        span {
            width: 33px;
            height: 33px;
            background: rgba(235, 87, 87, 0.1);
            border-radius: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                width: 15px;
                path {
                    fill: #eb5757;
                }
            }
        }
    }
    &Btn {
        background: #ffffff;
        box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
        color: #664ef9;
        transition: all 0.3s ease 0s;
        &:before {
            margin-right: 13px;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #f5f3ff;
            }
        }
    }
    &Btn2 {
        background: rgba(255, 213, 79, 0.1);
        color: #fec100;
    }
    &Address {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: black;
        display: inline-flex;
        align-items: center;
        &:before {
            margin-right: 8px;
            color: #bdbdbd;
        }
    }
    &Area {
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background: #bdbdbd;
            border-radius: 50%;
        }
    }
    &Block {
        margin-bottom: 20px;
    }
    :global {
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            button {
                width: 8px;
                height: 8px;
                background: #c5c5c5;
                opacity: 0.8;
                border-radius: 8px;
                font-size: 0;

                &:before {
                    display: none;
                }
            }
            li {
                margin: 0 4px;
                width: auto;
            }
            .slick-active {
                button {
                    background: #ffffff;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        .slick-arrow {
            background: rgba(36, 36, 36, 0.4) !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            width: 28px !important;
            height: 28px !important;
            border: none !important;
            top: 50% !important;
            &:before {
                content: '';
                border: solid;
                border-color: white !important;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(135deg);
            }
            position: absolute;
            font-size: 0;
            z-index: 1;
            border-radius: 50%;
            transition: all 0.3s ease 0s;
        }
        .slick-next {
            right: 0 !important;
            transform: translateX(-40%) translateY(-50%) !important;
            &:before {
                transform: rotate(-45deg) !important;
            }
        }
        .slick-prev {
            left: 0 !important;
            transform: translateX(40%) translateY(-50%) !important;
        }
        .slick-slide > div {
            height: 100%;
        }
        .slick-track,
        .slick-list,
        .slick-slide {
            height: 100%;
        }
    }
    &_list {
        flex-direction: row;
        width: 100%;
        :global {
            .slick-slider {
                width: 407/1280 * 100%;
                min-width: 300px;
            }
        }
        .itemFlex {
            align-items: center;
            @media (max-width: 1270px) {
                flex-direction: row;
            }
            @media (max-width: 1024px) {
                flex-direction: column;
                align-items: baseline;
            }
        }
        .itemAddress {
            background-color: #f8f8f8;
            padding: 0 8px;
            height: 34px;
            border-radius: 18px;
            margin-right: 0 !important;
        }
        .itemInfo {
            margin-right: 7px;
        }
        .itemArea {
            margin-left: 7px;
        }
        .itemImg {
            width: 407/1280 * 100%;
            height: 100%;
            img {
                height: 100%;
            }
        }
        .itemContent {
            width: 883/1280 * 100%;
            margin-top: 0;
            margin-left: -10px;
            border-radius: 0 10px 10px 0;
            padding: 30px 20px 13px 30px;
            min-width: 380px;
        }
        @media (max-width: 768px) {
            overflow: auto;
        }
        .itemTooltip {
            order: -1;
        }
        .itemButtons {
            span {
                width: fit-content;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #eb5757;
                padding: 0 15px;
                &:before {
                    content: 'В закладки';
                    margin-right: 10px;
                }
            }
        }
        .itemButtonsWrap {
            flex: 1 1 auto;
            margin-left: 15px;
            margin-right: 15px;
            white-space: nowrap;
        }
    }
    &Checkbox {
        display: flex;
        margin-bottom: 20px;
        overflow: auto;
        white-space: nowrap;
        span {
            font-size: 12px;
            padding: 6px;
        }
    }
}
.tooltip {
    &Img {
        width: 60px;
        margin: 0 auto;
        margin-bottom: 10px;
        img {
            height: 60px;
            width: 100%;
            border: 4px solid #664ef9;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &Block {
        color: #bdbdbd;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    &Name {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 18px;
        color: #1e2123;
        display: block;
    }
    &Email {
        text-decoration-line: underline;
        color: #664ef9;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        display: block;
        text-align: center;
        margin-bottom: 27px;
    }
}
.social {
    &Links {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    &Item {
        border-radius: 19px;
        &:first-child {
            background-color: #7b519d;
        }
        &:last-child {
            background-color: #664ef9;
        }
        &:nth-child(2) {
            background-color: #0dbb41;
        }
        a {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:before {
                color: white;
            }
        }
    }
}
