.news {
    padding-top: 43px;
    padding-bottom: 100px;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 850px;
        height: 1000px;
        background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
        opacity: 0.1;
        border-radius: 40px;
        position: absolute;
        top: 30px;
        right: -140px;
        z-index: -1;
    }
    &Cards {
        grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
        gap: 30px;
        display: grid;
        margin-bottom: 80px;
    }
    &Flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 62px;
        position: relative;
        @media (max-width: 768px) {
            display: block;
        }
    }
    &Title {
        margin-right: 20px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &Vh {
        min-height: calc(100vh - 97px);
    }
    &Date {
        background: rgba(102, 78, 249, 0.1);
        color: #664ef9;
    }
}
.paginate {
    display: flex;
    margin-left: -12px;
    li {
        font-size: 18px;
        line-height: 22px;
        color: #686868;
        cursor: pointer;
        padding: 0 6px;
    }
    :global {
        .selected {
            font-weight: 700;
            font-size: 18px;
            color: #000000;
            border-bottom: 2px solid #ffd54f;
        }
    }
}
.fn {
    &Block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
    &Img {
        width: 100%;
        filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 40px;
        img {
            object-fit: cover;
            height: 560px;
            width: 100%;
        }
    }
    &Head {
        padding-top: 60px;
        padding-bottom: 84px;
        background: linear-gradient(
            90deg,
            rgba(148, 175, 255, 0.1) 0%,
            rgba(78, 100, 249, 0.1) 94.5%
        );
    }
    &Title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #1e2123;
        margin-bottom: 45px;
    }
}
.container {
    max-width: 844px;
    margin: 0 auto;
    @media (max-width: 884px) {
        max-width: none;
        padding: 0 20px;
    }
}
.title {
    margin-bottom: 30px;
    position: relative;
    &:before {
        content: url('/404_1.png');
        position: absolute;
        top: 270px;
        left: -120px;
    }
}
.text {
    font-size: 14px;
    line-height: 17px;
    color: #686868;
    margin-bottom: 65px;
    p:not(:last-child) {
        margin-bottom: 20px;
    }
}
.moreNews {
    padding-top: 60px;
    padding-bottom: 100px;
    background: linear-gradient(
        90deg,
        rgba(148, 175, 255, 0.1) 0%,
        rgba(78, 100, 249, 0.1) 94.5%
    );
}
