.root {
    box-shadow: 0px -11px 40px rgba(39, 95, 158, 0.05);
}
.container {
    padding-top: 40px !important;
    padding-bottom: 50px !important;
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.copyright {
    flex: 0 1 300px;
    margin-right: 20px;
    @media (max-width: 768px) {
        flex: auto;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    img {
        margin-bottom: 10px;
    }
    span {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #8291a3;
        display: block;
        margin-bottom: 36px;
    }
    p {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #8291a3;
    }
}
.block {
    flex: 0 1 900px;
    @media (max-width: 1024px) {
        flex: 0 1 550px;
    }
    @media (max-width: 768px) {
        flex: auto;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    @media (max-width: 768px) {
        display: none;
    }
}
.list {
    &Link {
        font-size: 14px;
        line-height: 17px;
        color: #8291a3;
        display: inline-block;
        margin-bottom: 8px;
    }
    &:first-child {
        li:not(:last-child) a {
            margin-bottom: 21px;
        }
    }
    &:nth-child(3) {
        padding-top: 29px;
    }
    @media (max-width: 1024px) {
        &:nth-child(4) {
            display: none;
        }
    }
}
.title {
    margin-bottom: 12px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1e2123;
}
.text {
    color: #1e2123;
    margin-right: 6px;
}
.social {
    &Block {
        display: flex;
        align-items: center;
    }
    &Links {
        display: flex;
        align-items: center;
        :global {
            .icon-4 {
                font-size: 23px;
            }
            .icon-5 {
                font-size: 14px;
            }
            .icon-6 {
                font-size: 20px;
            }
        }
    }
    &Link {
        margin-left: 22px;
        color: #1e2123;
    }
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
        justify-content: center;
    }
}
.images {
    display: flex;
    align-items: center;
    img:not(:last-child) {
        margin-right: 17px;
    }
    @media (max-width: 1024px) {
        display: none;
    }
}
