.search {
    padding: 74px 0 217px 0;
    background-image: url('/bg.png'),
        linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
    text-align: center;
    &Title {
        color: white;
        margin-bottom: 20px;
    }
    &Text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: white;
        max-width: 390px;
        margin: 0 auto;
        margin-bottom: 23px;
    }
    &Btn {
        margin: 0 auto;
        background-color: white;
        &:before {
            margin-right: 12px;
            color: #fec100;
        }
        @media (any-hover: hover) {
            &:hover {
                color: #fec100;
            }
        }
    }
}
