.root {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
    pointer-events: none;
}
.body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    transition: all 0.8s ease 0s;
}
.content {
    @media (max-width: 576px) {
        width: 100%;
    }
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.close {
    position: absolute;
    right: 28px;
    top: 28px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    z-index: 1;
    @media (any-hover: hover) {
        &:hover {
            transform: rotate(90deg);
        }
    }
    &:before,
    &:after {
        position: absolute;
        left: 10px;
        content: ' ';
        height: 22px;
        width: 2px;
        background-color: black;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.contentOpen {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}
