.error404 {
    background-image: url('/bg.png'),
        linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}
.container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 170px;
    padding-bottom: 170px;
    @media (max-width: 1100px) {
        max-width: none;
        padding: 170px 20px;
    }
}
.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: white;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
    max-width: 427px;
    margin-bottom: 50px;
}
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1e2123;
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    background: #ffd54f;
    border-radius: 33px;
    transition: all 0.3s ease 0s;
    &:before {
        font-size: 12px;
        margin-right: 10px;
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: #fec100;
        }
    }
}
.block {
    background: url('/404.png') no-repeat right;
    position: relative;
    &:before {
        position: absolute;
        content: url('/404_1.png');
        left: -115px;
        top: -70px;
    }
    &:after {
        position: absolute;
        content: url('/404_2.png');
        right: -20px;
        bottom: -110px;
    }
    @media (max-width: 768px) {
        background: none;
        &:after {
            display: none;
        }
    }
}
