.intro {
    margin-bottom: 84px;
    background-image: url('/bg.png'),
        linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
    background-size: cover;
    &Title {
        color: #ffffff;
        text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
        text-align: center;
        margin-bottom: 50px;
        span {
            color: #ffd54f;
        }
    }
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 82px 120px 90px 120px;
    @media (max-width: 1024px) {
        padding: 82px 20px 90px 20px;
    }
}
.tab {
    display: flex;
    overflow: auto;
    &Item {
        display: inline-block;
        padding: 13px 20px;
        background: rgba(45, 57, 136, 0.5);
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: white;
        cursor: pointer;
        flex: 0 0 auto;
        &:last-child {
            border-top-right-radius: 10px;
        }
        &:first-child {
            border-top-left-radius: 10px;
        }
        &Active {
            background-color: white;
            color: #664ef9;
        }
    }
    &s {
        overflow: auto;
        border-radius: 0 10px 10px 10px;
        &Block {
            display: flex;
            justify-content: space-between;
            overflow: auto;
            background-color: white;
        }
        &Item {
            background-color: white;
            display: inline-block;
            padding: 20px;
            position: relative;
            flex: 0 0 auto;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                right: 0;
                top: 18px;
                height: 68px;
                background-color: #664ef9;
                opacity: 0.1;
            }
            &:last-child,
            &:nth-child(5) {
                display: flex;
                align-items: center;
                &:after {
                    display: none;
                }
            }
            &:nth-child(4) {
                display: flex;
                align-items: center;
            }
            &_b:before {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-color: #4e64f9;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &Text {
            margin-bottom: 11px;
        }
        &Input {
            border-radius: 30px;
            padding: 0 14px;
            width: 80px;
            height: 40px;
            background: #f8f8f8;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    cursor: pointer;
                    background: rgba(102, 78, 249, 0.1);
                }
            }
        }
        &Spn {
            margin: 0 4px;
            color: #4e64f9;
        }
        &Btn {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            background: #ffd54f;
            border-radius: 22px;
            padding: 10px 35px 10px 16px;
            color: #242424;
            transition: all 0.3s ease 0s;
            position: relative;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #fec100;
                }
            }
            &:disabled {
                background: lighten($color: #ffd54f, $amount: 10);
                cursor: default;
            }
            &:before {
                font-size: 6px;
                transform: rotate(-90deg);
                display: inline-block;
                position: absolute;
                right: 14px;
            }
        }
    }
    &Text {
        color: #1e2123;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 23px;
        cursor: pointer;
        &:before {
            position: absolute;
            color: #664ef9;
            right: 0;
        }
    }
}
.links {
    display: flex;
    gap: 30px;
    margin-bottom: 114px;
    position: relative;
    &:before {
        content: url('/404_1.png');
        position: absolute;
        bottom: -100px;
        left: -30px;
    }
    &Img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    &Block {
        display: flex;
        flex-wrap: wrap;
        width: 953 / 1280 * 100%;
        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 30px;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &Item {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        height: 270px;
        padding: 37px 21px 23px 37px;
        filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
        position: relative;
        &:first-child {
            width: 516 / 953 * 100%;
            margin-right: 30 / 953 * 100%;
            background-size: cover;
        }
        &:nth-child(2) {
            width: 407 / 953 * 100%;
            margin-bottom: 30 / 953 * 100%;
            background-size: cover;
        }
        &:nth-child(3) {
            width: 407 / 953 * 100%;
            margin-right: 30 / 953 * 100%;
            background-size: cover;
        }
        &:nth-child(4) {
            width: 516 / 953 * 100%;
            background-size: cover;
        }
        @media (max-width: 1024px) {
            width: 100% !important;
            margin-right: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    &Title {
        color: white;
        font-weight: 700;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 21px;
    }
    &SubTitle {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 21px;
        display: block;
    }
    &Label {
        padding: 8px 14px;
        background: #664ef9;
        border-radius: 16px;
        color: rgba(255, 255, 255, 0.7);
        &s {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
    }
    &Btn {
        width: 40px;
        height: 40px;
        background: transparent;
        border: 1px solid #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 21px;
        bottom: 23px;
        &:before {
            display: block;
            transform: rotate(-90deg);
            font-size: 10px;
            color: white;
        }
    }
    &Overflow {
        overflow: auto;
        height: 100%;
    }
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.lists {
    flex: 1 0 auto;
    &Title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        margin-bottom: 15px;
    }
    &Link {
        color: #feb700;
        flex: 1 1 auto;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                margin-left: 10px;
            }
        }
    }
    &Count {
        color: #bdbdbd;
    }
    &Item {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &Block:not(:last-child) {
        margin-bottom: 40px;
    }
}
.gold {
    padding-bottom: 65px;
    &Container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        margin-top: -184px;
    }
    &Item {
        padding: 29px 29px 55px 29px;
        box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        &_g {
            position: relative;
            background: linear-gradient(
                105.54deg,
                #ffd54f 33.53%,
                #fec100 94.13%
            );
            &:after {
                content: url('/13.png');
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 0;
            }
        }
    }
    &Icon {
        width: 98px;
        height: 98px;
        box-shadow: 0px 11px 20px rgba(127, 155, 187, 0.16);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        &:before {
            font-size: 60px;
            color: #fec100;
        }
    }
    &Flex {
        display: flex;
        gap: 27px;
        align-items: center;
        margin-bottom: 25px;
    }
    &Title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #664ef9;
        &_g {
            font-size: 30px;
            line-height: 36px;
            color: #333333;
            text-align: center;
            margin-bottom: 35px;
        }
    }
    &Text {
        color: #1e2123;
        margin-bottom: 34px;
        flex: 1 1 auto;
        z-index: 1;
        span {
            max-width: 280px;
            display: block;
        }
    }
    &Btn {
        background: linear-gradient(106.06deg, #ffd54f 1.12%, #fec100 97.96%);
        box-shadow: 0px 15px 40px rgba(254, 193, 0, 0.15);
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        width: max-content;
        z-index: 1;
        &_g {
            background: linear-gradient(270deg, #7e6af3 0%, #6540cd 100%);
            box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
            color: white;
        }
    }
}
.sdaem {
    padding: 65px 0 110px 0;
    &Container {
        display: flex;
        gap: 30px;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }
    &About {
        width: 842 / 1280 * 100%;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    &Title {
        margin-bottom: 33px;
    }
    &Image {
        width: 400 / 840 * 100%;
        margin-bottom: 20px;
        filter: drop-shadow(0px 15px 30px rgba(39, 95, 158, 0.1));
        margin-right: 30px;
        float: left;
        position: relative;
        img {
            height: 230px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
        @media (max-width: 576px) {
            width: 100%;
        }
        &:before {
            content: url('/404_1.png');
            position: absolute;
            bottom: -25px;
            right: -15px;
        }
    }
    &Text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #1e2123;
    }
    &News {
        align-self: flex-start;
        padding: 33px 23px;
        background: #fffefe;
        box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
        border-radius: 10px;
        flex: 1 1 406px;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    &Block {
        &:not(:last-child) {
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(102, 78, 249, 0.1);
        }
        &:last-child {
            margin-bottom: 30px;
        }
    }
    &SubTitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 6px;
        color: #1e2123;
    }
    &Date {
        font-size: 12px;
        line-height: 15px;
        color: #8291a3;
        margin-bottom: 10px;
    }
    &Link {
        color: #664ef9;
        font-weight: 700;
        position: relative;
        padding-right: 20px;
        display: inline-flex;
        align-items: center;
        &:before {
            font-size: 6px;
            transform: rotate(-90deg);
            display: inline-block;
            position: absolute;
            right: 0;
        }
    }
}
.slider {
    padding: 30px 0 90px 0;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 850px;
        height: 970px;
        background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
        opacity: 0.1;
        border-radius: 40px;
        position: absolute;
        top: 10px;
        right: -50px;
        z-index: -1;
    }
    &Flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
        @media (max-width: 800px) {
            gap: 15px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &Select {
        display: flex;
        &_f {
            margin-right: 30px;
            @media (max-width: 470px) {
                margin: 0 0 20px 0;
            }
        }
        @media (max-width: 470px) {
            flex-direction: column;
        }
    }
    &Block {
        margin: 0 -15px;
        filter: drop-shadow(0px 20px 40px rgba(135, 124, 202, 0.15));
        padding-bottom: 95px;
        :global {
            .slick-next {
                right: 50%;
                transform: translateX(120%);
                &:before {
                    transform: rotate(-45deg) !important;
                }
            }
            & .slick-arrow {
                position: absolute;
                font-size: 0;
                z-index: 1;
                width: 40px;
                height: 40px;
                top: 103%;
                border: 1px solid #664ef9;
                border-radius: 50%;
                transition: all 0.3s ease 0s;
                &:before {
                    content: '';
                    border: solid;
                    border-color: #664ef9;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(135deg);
                }
                @media (any-hover: hover) {
                    &:hover {
                        background: rgba(102, 78, 249, 0.1);
                    }
                }
            }
            .slick-prev {
                left: 50%;
                transform: translateX(-120%);
            }
        }
    }
    &Total {
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: #1e2123;
        padding-right: 15px;
        position: relative;
        b {
            color: #664ef9;
        }
        span {
            display: block;
            color: rgba(130, 145, 163, 0.6);
        }
        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 70px;
            background-color: rgba(157, 148, 255, 0.3);
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    &Wrapper {
        display: flex;
        align-items: center;
    }
    &Btn {
        margin-left: 25px;
        background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
        box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
        color: white;
    }
    &P {
        margin-left: 15px;
    }
}
.header {
    padding: 45px 0 57px 0;
    background: linear-gradient(
        90deg,
        rgba(148, 175, 255, 0.1) 0%,
        rgba(78, 100, 249, 0.1) 94.5%
    );
}
.apartments {
    padding: 20px 0 56px 0;
    &Grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        margin-bottom: 80px;
        &_list {
            grid-template-columns: 100%;
        }
    }
    &Item {
        padding: 0 !important;
        filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
        &:before {
            right: 0 !important;
        }
    }
    &Title {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: #1e2123;
        margin-bottom: 40px;
    }
    &Filters {
        margin-bottom: 83px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &Btn {
        background-color: white;
        box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
        &:before {
            margin-right: 12px;
            color: #664ef9;
        }
    }
    &Flex {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &Spns {
        margin-right: 65px;
    }
    &Spn {
        display: inline-flex;
        align-items: center;
        padding: 11px 15px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:first-child {
            margin-right: 20px;
        }
        &:before {
            margin-right: 10px;
            color: #bdbdbd;
        }
        @media (any-hover: hover) {
            &:hover {
                background: #f8f8f8;
                border-radius: 18px;
            }
        }
    }
}
.active {
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
    border-radius: 18px;
    &:before {
        color: #664ef9;
    }
    @media (any-hover: hover) {
        &:hover {
            background: #ffffff;
        }
    }
}
.filters {
    box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
    &Block {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 22px 0;
        position: relative;
        &:not(:last-child):after {
            content: '';
            display: block;
            width: 1px;
            height: 84px;
            background-color: #664ef9;
            position: absolute;
            right: -25px;
            opacity: 0.1;
        }
        &_b:before {
            content: '';
            display: block;
            width: calc(100% + 50px);
            height: 3px;
            background-color: #4e64f9;
            position: absolute;
            bottom: 0;
            right: -25px;
        }
    }
    &Text {
        color: #664ef9;
    }
    &Container {
        display: flex;
        column-gap: 50px;
        row-gap: 20px;
        white-space: nowrap;
        flex-wrap: wrap;
    }
    &Btn {
        background: #664ef9;
        color: white;
    }
    &More {
        background-color: white;
        padding: 22px 0;
        border-top: 1px solid rgba(78, 100, 249, 0.1);
    }
    &Checkbox {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 10px;
        input {
            margin-right: 10px;
        }
        label {
            color: #1e2123;
            min-width: 200px;
        }
    }
}
.pd {
    padding: 22px 20px;
}
.labels {
    flex-wrap: wrap;
    gap: 15px;
    &Item {
        padding: 6px 10px;
        background: rgba(102, 78, 249, 0.1);
        border-radius: 17px;
        color: #664ef9;
        cursor: pointer;
        svg {
            margin-left: 10px;
        }
    }
}
.search {
    position: relative;
    &:after {
        content: url('/404_2.png');
        position: absolute;
        right: 40px;
        top: -20px;
        @media (max-width: 1024px) {
            display: none;
        }
    }
}
.searchPd {
    padding-bottom: 87px !important;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
