.crumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    &Item {
        margin-bottom: 10px;
        position: relative;
        display: inline-flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 17px;
        }
        &:not(:last-child) {
            &:after {
                content: '';
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #664ef9;
                position: absolute;
                right: -10px;
            }
        }
    }
    &Link {
        color: #4e64f9;
    }
}
.activeLink {
    cursor: default;
    color: #686868;
}
