:root {
    --fontFamily: 'Inter', sans-serif;
    --textColor: #8291a3;
}

@import 'null';
@import 'icons';
@import 'fonts';

#__next {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
body.lock {
    overflow: hidden !important;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    @media (max-width: 1320px) {
        max-width: none;
        padding: 0 20px;
    }
}
.main {
    flex: 1 1 auto;
    overflow: hidden;
}
.text {
    font-size: 14px;
    line-height: 17px;
    color: var(--textColor);
}
.btn {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    border-radius: 19px;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.title,
.subTitle {
    font-weight: 700;
    color: #1e2123;
}
.title {
    font-size: 30px;
    line-height: 120%;
}
.subTitle {
    font-size: 25px;
    line-height: 30px;
}
#nprogress .spinner {
    display: none !important;
}
.tabs {
    &.lock {
        overflow: hidden !important;
    }
}
.slick-track {
    margin-left: 0 !important;
}
.g-recaptcha {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
