.contacts {
    background-image: url('/bg.png'),
        linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}
.blur {
    backdrop-filter: blur(1px);
    padding-top: 77px;
    padding-bottom: 95px;
}
.content {
    flex: 0 1 515px;
    margin-right: 30px;
    &Block {
        display: flex;
        background: rgba(80, 57, 189, 0.5);
        border-radius: 10px;
        padding: 21px 25px;
        align-items: center;
    }
    @media (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 40px;
    }
}
.form {
    flex: 0 1 734px;
    display: flex;
    form {
        background: #fffefe;
        box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
        border-radius: 10px;
        padding: 40px 38px 44px 38px;
        flex: 0 1 625px;
        margin-right: 30px;
        @media (max-width: 1024px) {
            flex: 1 1 auto;
        }
        @media (max-width: 576px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    &Label {
        textarea {
            width: 100%;
            height: 200px;
            padding-left: 20px;
        }
    }
    &Area {
        display: block;
        padding-left: 20px;
    }
    &Flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
        gap: 20px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: 1024px) {
        align-items: baseline;
        flex: auto;
    }
    @media (max-width: 576px) {
        display: block;
    }
}
.flex {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
.title {
    color: white !important;
    margin-bottom: 30px;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-bottom: 30px;
}
.smallText {
    color: white !important;
    line-height: 150%;
    margin-bottom: 40px;
}
.list {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: white;
    margin-bottom: 30px;
    &Item {
        display: flex;
        align-items: center;
        &:before {
            color: white;
        }
        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            margin-right: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    a {
        color: white;
        margin-right: 10px;
        span {
            margin-right: 0;
        }
    }
}
.tel {
    margin-right: 20px !important;
}
.btn {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #664ef9;
    border-radius: 33px;
    padding: 12px 56px;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: #5c35f9;
        }
    }
    &:disabled {
        background: lighten($color: #664ef9, $amount: 10);
        cursor: default;
    }
    &Yellow {
        background: #ffd54f;
        color: #1e2123;
        @media (any-hover: hover) {
            &:hover {
                background-color: #fec100;
            }
        }
    }
}
.social {
    &Item {
        &:not(:last-child) {
            margin-bottom: 15px;
            @media (max-width: 576px) {
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }
    &Link {
        color: white;
        width: 45px;
        height: 45px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &Links {
        margin-left: auto;
        @media (max-width: 576px) {
            display: flex;
        }
    }
}
.error {
    background: #eb5757;
    border-radius: 33px;
    padding: 12px 20px 12px 20px;
    width: 199.34px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin: 0 auto;
}
.modal {
    padding: 50px 31px 54px 31px;
    background-color: #fffefe;
    box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
    border-radius: 10px;
    text-align: center;
    &Title {
        max-width: 329px;
        margin-bottom: 20px;
    }
    &Text {
        max-width: 310px;
        margin-bottom: 30px;
    }
}
.icon1,
.icon14,
.icon10,
.icon8,
.icon15 {
    font-size: 15px;
}
.icon9,
.icon12,
.icon5 {
    font-size: 12px;
}
.icon17 {
    font-size: 35px;
    color: #5039bd;
    &:before {
        margin-right: 22px;
    }
}
.icon4,
.icon6 {
    font-size: 20px;
}
