.search {
    height: 37px;
    flex: 0 1 616px;
    &Input {
        width: 100%;
        box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.05);
        border-radius: 20px;
        padding: 0 20px;
        height: 100%;
        &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #686868;
        }
    }
    &Btn {
        background: #664ef9;
        border-radius: 19px;
        width: 53.07px;
        height: 100%;
        position: absolute;
        right: 0;
        &:before {
            color: white;
            font-size: 17px;
        }
        @media (max-width: 768px) {
            height: 37px;
        }
    }
}
